<div class="flex flex-col" [@fadeAnimation]>
  <div
    class="rounded h-50 w-40 transition ease-in-out duration-500 hover:scale-110 hover:cursor-pointer hover:bg-zinc-800 relative group placeholder"
    [class.placeholder-loaded]="isImageLoaded"
    [style]="{
      backgroundImage: 'url(' + postarBaseUrl + movie.poster_path + ')  '
    }"
  >
    <img
      [src]="
        movie.poster_path
          ? imagBaseUrl + movie.poster_path
          : 'assets/images/no-poster-available.webp'
      "
      [alt]="movie.title"
      class="rounded h-50 min-h-48 w-40 transition hover:scale-110 hover:cursor-pointer hover:bg-zinc-800 image"
      [class.image-loaded]="isImageLoaded"
      loading="lazy"
      (load)="onImageLoad()"
    />
    <div
      class="rounded-md opacity-0 group-hover:opacity-100 duration-300 absolute inset-x-4 bottom-28 flex justify-center items-end text-xl bg-gray-200 text-black font-semibold"
      (click)="goToMovie(movie)"
    >
      Watch Now
    </div>
  </div>

  <p
    class="font-bold max-w-40 w-40 truncate mt-5"
    [style]="{ color: 'white', fontSize: '12px' }"
  >
    {{ movie.title }}
  </p>
  <p-rating
    class="custom-rate"
    iconCancelClass="pi pi-times"
    [(ngModel)]="getRating"
    [stars]="5"
    [cancel]="false"
    [readonly]="true"
  />
</div>
