@if (loading) {
<div
  class="flex flex-row gap-4 h-auto flex-wrap justify-center items-center mt-5"
>
  <img
    src="assets/images/popcorn.gif"
    alt="loading"
    class="h-50 w-50 self-center justify-center items-center mt-5"
  />
</div>
}@else {

<section class="details-container">
  <div
    class="backdrop-container placeholder"
    [class.placeholder-loaded]="isImageLoaded"
    [style]="{
      backgroundImage: 'url(' + movieDetails.small_poster_path + ')  '
    }"
  >
    <img
      [src]="
        movieDetails.backdrop_path
          ? movieDetails.backdrop_path
          : 'assets/images/no-poster-available.webp'
      "
      [alt]="movieDetails.title"
      class="backdrop-image image"
      [class.image-loaded]="isImageLoaded"
      [loading]="'lazy'"
      (load)="onImageLoad()"
    />
  </div>

  <div class="details-content" [@slideAnimation]>
    <p class="font-bold truncate  text-white text-2xl">
      {{ movieDetails.title }}
    </p>
    <p class="text-white text-opacity-50 text-sm">
      {{ movieDetails.release_date }} | {{ movieDetails.length }} |
      {{ movieDetails.certification }} |
      <p-rating
        class="custom-rate"
        iconCancelClass="pi pi-times"
        [ngModel]="movieDetails.vote_average"
        [stars]="5"
        [cancel]="false"
        [readonly]="true"
      />
      {{ movieDetails.vote_count | number }} Votes
    </p>
    <div class="flex flex-row gap-2 flex-wrap mt-3">
      @for( g of movieDetails.genres; track $index ){
      <p
        class="text-white text-opacity-50 text-xs bg-zinc-900 text-center p-2 rounded rounded-full"
      >
        {{ g }}
      </p>
      }
    </div>

    <p class="text-white text-sm my-4 text-wrap">{{ movieDetails.overview }}</p>
    <p class="text-white text-opacity-50 text-sm truncate">
      Cast: {{ movieDetails.cast.join(", ") }}
    </p>
    <span class="text-white text-opacity-50 text-sm truncate"
      ><button class="text-zinc-400 text-sm" (click)="showMoreCast()">
        Show More
      </button></span
    >
    @if(movieDetails.videos && movieDetails.videos.length > 0){
    <button
      class="text-sm w-24 mt-3 bg-zinc-900 bg-opacity-50 hover:bg-zinc-800 text-white font-semibold py-2 px-4 rounded"
      (click)="watchTrailer()"
    >
      TRAILER
    </button>
    }


    @if(movieDetails.justWatch && movieDetails.justWatch.length > 0){
    <div class="flex flex-row gap-2 flex-wrap mt-3">
      <p-carousel
        [value]="movieDetails.justWatch"
        [numVisible]="3"
        [numScroll]="3"
        [style]="{ color: 'white' }"
      >
        <ng-template let-p pTemplate="item">
          <div class="flex flex-col gap-2 border-1 surface-border border-round">
            <div class="">
              <div class="relative">
                <a href="{{ p.web_url }}" target="_blank">
                  <img
                    [src]="
                      'https://img.logo.dev/' +
                      domainGetter(p.web_url) +
                      '?token=' +
                      apiKey
                    "
                    [alt]="p.name"
                    class="w-12 h-12 rounded rounded-full p-2"
                  />
                </a>
                <p
                  class="text-white text-opacity-50 text-sm truncate text-center text-wrap text-xs max-w-12"
                >
                  {{ p.name }}
                </p>
                <p class="text-white text-opacity-50 text-sm truncate">
                  {{ p.price }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    }
  </div>
</section>

<div class="details-content-mobile" [@slideAnimation]>
  <p class="font-bold truncate  text-white text-2xl">
    {{ movieDetails.title }}
  </p>
  <p class="text-white text-opacity-50 text-sm">
    {{ movieDetails.release_date }} | {{ movieDetails.length }} |
    {{ movieDetails.certification }} |
    <p-rating
      class="custom-rate"
      iconCancelClass="pi pi-times"
      [ngModel]="movieDetails.vote_average"
      [stars]="5"
      [cancel]="false"
      [readonly]="true"
    />
    {{ movieDetails.vote_count | number }} Votes
  </p>
  <div class="flex flex-row gap-2 flex-wrap mt-3">
    @for( g of movieDetails.genres; track $index ){
    <p
      class="text-white text-opacity-50 text-xs bg-zinc-900 text-center p-2 rounded rounded-full"
    >
      {{ g }}
    </p>
    }
  </div>

  <p class="text-white text-sm my-4 text-wrap">{{ movieDetails.overview }}</p>
  <p class="text-white text-opacity-50 text-sm truncate">
    Cast:
    {{ movieDetails.cast.join(", ") }}
  </p>
  <span class="text-white text-opacity-50 text-sm truncate"
    ><button class="text-zinc-400 text-sm" (click)="showMoreCast()">
      Show More
    </button></span
  >
  @if(movieDetails.videos && movieDetails.videos.length > 0){
  <button
    class="text-sm w-24 mt-3 bg-zinc-900 bg-opacity-50 hover:bg-zinc-800 text-white font-semibold py-2 px-4 rounded"
    (click)="watchTrailer()"
  >
    TRAILER
  </button>
  } @if (movieDetails.justWatch && movieDetails.justWatch.length > 0) {
  <div class="flex flex-row gap-2 flex-wrap mt-3">
    <p-carousel
      [value]="movieDetails.justWatch"
      [numVisible]="3"
      [numScroll]="3"
      [style]="{ color: 'white' }"
    >
      <ng-template let-p pTemplate="item">
        <div class="flex flex-col gap-2 border-1 surface-border border-round">
          <div class="">
            <div class="relative">
              <a href="{{ p.web_url }}" target="_blank">
                <img
                  [src]="
                    'https://img.logo.dev/' +
                    domainGetter(p.web_url) +
                    '?token=' +
                    apiKey
                  "
                  [alt]="p.name"
                  class="w-12 h-12 rounded rounded-full p-2"
                />
              </a>
              <p
                class="text-white text-opacity-50 text-sm truncate text-center text-wrap text-xs max-w-12"
              >
                {{ p.name }}
              </p>
              <p class="text-white text-opacity-50 text-sm truncate">
                {{ p.price }}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  }
</div>

<app-cast />
<app-videos />
<h5
  class="text-white text-2xl text-amber-100 flex flex-col justify-center items-center p-5"
>
  Similar Movies
</h5>
<app-list [list]="movieDetails.similar" [loading]="loading"></app-list>
}
